	body{
		padding-top: 20vh;
		background-color: #999999;
	}
	
	img {
		display: block;
		margin: auto;
	}

	@media screen and (min-width: 300px) {
	img {
	content: url(images/kittyloaf.gif);
	}
	}
	
	@media screen and (min-width: 600px) {
	img {
	content: url(images/kitten-small.png);
	}
	}
	
	@media screen and (min-width: 900px) {
	img {
	content: url(images/kitten-medium.png);
	}
	}
	
	@media screen and (min-width: 1200px) {
		img {
	content: url(images/kitten-large.png);
	}
	}
	

	